.Container {
    margin-top: 10px;

    p {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
            color: black;
            transition: 1s;
        }
    }

    ul {
        li {
            margin: 5px 0;
        }
    }
}