.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media(min-width:1024px) and (max-width: 1300px){
    .Container{
        max-width: 1024px;
    }
}

@media(min-width:320px) and (max-width:767px){
    .Container{
        max-width: 425px;
        margin: 0 auto;
    }
}